.jumbotron {
  margin-bottom: 4em;
}
.person-wrapper {
  margin-bottom: 2em;
}

.profile-pic {
  height: 350px;
  width: 100%;
}

.logo {
  margin-bottom: 2em;
}

.btn-primary {
  background-image: none;
  border: none;
  border-radius: 0;
  background-color: #2892D7;
}

h3 {
  margin-bottom: 1em;
}

.center {
  margin: 0 auto;
  /* we still need this to get the desired behavior */
  text-align: center;
}