<head>

    <title>Hello, world!</title>
  </head>
<!-- Page Content -->
<div class="container">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <h1 class="my-4">National Education Association
    </h1>
   
    <div class="row">
      
      <div class="col-md-8">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/en/a/a0/NEA.png" alt="">
      </div>
    </div>
    <h3 class="my-3">Description</h3>
    <p>"Our mission is to advocate for education professionals and to unite our members and the nation to fulfill the promise of public education to prepare every student to succeed in a diverse and interdependent world."</p>
      <h3 class="my-5">Categories</h3>
        <ul class="list-group">
            <li class="list-group-item">Education</li>
            <li class="list-group-item">Higher Education</li>
            <li class="list-group-item">K-12 Education</li>
        </ul>

        

         
      
    <h3 class="my-3">Ratings</h3>
         <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Office</th>
          <th scope="col">State</th>
          <th scope="col">Party</th>
          <th scope="col">Rating</th>
          <th scope="col">Year of Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Amy Klobuchar</th>
          <td>U.S. Senate</td>
          <td> MN </td>
          <td>Democratic</td>
          <td>100%</td>
          <td>2018</td>
        </tr>
        <tr>
          <th scope="row"> <a href="https://google.com">Elizabeth Warren</a></th> <!--link to warren page-->
          <td>U.S Senate</td>
          <td>MA</td>
          <td>Democratic</td>
          <td>100%</td>
          <td>2018</td>
        </tr>
        <tr>
          <th scope="row"><a href="https://google.com">Bernie Sanders</a></th> <!--link to sanders-->
          <td>U.S Senate</td>
          <td>VT</td>
          <td>Independent</td>
          <td>100%</td>
          <td>2018</td>
        </tr>
        <tr>
          <th scope="row">John Cornyn</th>
          <td>U.S Senate</td>
          <td>TX</td>
          <td>Republican</td>
          <td>0%</td>
          <td>2018</td>
        </tr>
      </tbody>
    </table>
    

    
    <!-- /.row -->
  
    <h3 class="my-4">2020 Endorsements</h3>
    <p>The National Education Association has not made any candidate endorsements in 2020</p>
    <div class="row">
    
  
    </div>
    <!-- /.row -->
   <h4 class="my-4">2020 Top Candidate Contributions</h3>
   <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Office</th>
          <th scope="col">Party</th>
          <th scope="col">Amount</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th scope="row"><a href="https://google.com">Bernie Sanders</a></th>
          <td>U.S. Senate</td>
          <td>Independent</td>
          <td>$11,895</td>
        </tr>
        <tr>
          <th scope="row">Brynne Kennedy</th>
          <td>U.S. House</td>
          <td>Democratic</td>
          <td>$11,500</td>
        </tr>
        <tr>
          <th scope="row"><a href="https://google.com">Elizabeth Warren</a></th>
          <td>U.S. Senate</td>
          <td>Democratic</td>
          <td>$10,293</td>
        </tr>
        <tr>
          <th scope="row">Antonio Delgado</th>
          <td>U.S. House</td>
          <td>Democratic</td>
          <td>$7,600</td>
        </tr>
        <tr>
          <th scope="row">Harlye Rouda</th>
          <td>U.S. House</td>
          <td>Democratic</td>
          <td>$7,600</td>
        </tr>

      
  </div>
  <!-- /.container -->