<head>

    <title>Hello, world!</title>
  </head>
<!-- Page Content -->
<div class="container">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- Portfolio Item Heading -->
    <h1 class="my-4">National Rifle Association
    </h1>
   
    <div class="row">
      
      <div class="col-md-8">
        <img class="img-fluid" src="https://upload.wikimedia.org/wikipedia/en/thumb/c/c7/National_Rifle_Association_official_logo.svg/220px-National_Rifle_Association_official_logo.svg.png" alt="">
      </div>
    </div>
    <div class="col-md-16">
    <h3 class="my-3">Description</h3>
        <p>"The NRA Political Victory Fund (NRA-PVF) is NRA's political action committee. The NRA-PVF ranks political candidates - irrespective of party affiliation - based on voting records, public statements and their responses to an NRA-PVF questionnaire." In 2008, NRA-PVF was involved in 271 campaigns for the U.S. House and Senate, winning in 230 of those races (85%). NRA-PVF also endorsed thousands of state legislative candidates that same year and achieved an 84% success rate in those elections. NRA resources in the 2008 elections were more widely deployed in more critical battles than ever before. Millions of dollars were spent on direct campaign donations, independent campaign expenditures and on mobilizing the most aggressive grassroots operation in NRA history. In 2009 and '10, NRA-ILA has continued to build upon that grassroots organization with programs that work to effectively communicate with NRA members and others. NRA relies on a very simple premise: when provided with the facts, the nation's elected officials will recognize that "gun control" schemes are an infringement on the Second Amendment and a proven failure in fighting crime. The importance of this premise lies in the knowledge that, as one U.S. Congressman put it: 'The gun lobby is people."</p>
    
    <h3 class="my-3">Categories</h3>
        <ul class="list-group">
          <li class="list-group-item">Guns</li>
        </ul>
    <h3 class="my-3">Ratings</h3>
         <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Office</th>
          <th scope="col">State</th>
          <th scope="col">Party</th>
          <th scope="col">Rating</th>
          <th scope="col">Year of Rating</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">Amy Klobuchar</th>
          <td>U.S. Senate</td>
          <td> MN </td>
          <td>Democratic</td>
          <td>13%</td>
          <td>2018</td>
        </tr>
        <tr>
            <th scope="row"> <a href="https://google.com">Elizabeth Warren</a></th> <!--link to warren page-->
          <td>U.S Senate</td>
          <td>MA</td>
          <td>Democratic</td>
          <td>13%</td>
          <td>2018</td>
        </tr>
        <tr>
            <th scope="row"> <a href="https://google.com">Bernie Sanders</a></th> <!--link to warren page-->
          <td>U.S Senate</td>
          <td>VT</td>
          <td>Independent</td>
          <td>13%</td>
          <td>2018</td>
        </tr>
        <tr>
          <th scope="row">Ted Cruz</th>
          <td>U.S Senate</td>
          <td>TX</td>
          <td>Republican</td>
          <td>100%</td>
          <td>2018</td>
        </tr>
      </tbody>
    </table>
    <!-- /.row -->
  
    <h3 class="my-4">2020 Endorsements</h3>
    <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Current Office</th>
          <th scope="col">Running</th>
          <th scope="col">State</th>
          <th scope="col">Party</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">John Cornyn</th>
          <td>U.S. Senate</td>
          <td>U.S Senate</td>
          <td>TX</td>
          <td>Republican</td>
        </tr>
        <tr>
          <th scope="row">Jodey Arrington</th>
          <td>U.S House</td>
          <td>U.S House</td>
          <td>TX</td>
          <td>Republican</td>
        </tr>
        <tr>
          <th scope="row">Brian Babin</th>
          <td>U.S House</td>
          <td>U.S. House</td>
          <td>TX</td>
          <td>Republican</td>
        </tr>
        <tr>
          <th scope="row">Chris Paddie</th>
          <td>State House</td>
          <td>State House</td>
          <td>TX</td>
          <td>Republican</td>
          
        </tr>
      </tbody>
    </table>
      </div>
    <div class="row">
    
  
    </div>
    <!-- /.row -->
   <h4 class="my-4">2020 Top Candidate Contributions</h3>
   <table class="table">
      <thead>
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Office</th>
          <th scope="col">Party</th>
          <th scope="col">Amount</th>
        </tr>

      </thead>
      <tbody>
        <tr>
          <th scope="row">Mitch McConnell</th>
          <td>U.S. Senate</td>
          <td>Republican</td>
          <td>$10,550</td>
        </tr>
        <tr>
          <th scope="row">Thom Tillis</th>
          <td>U.S. Senate</td>
          <td>Republican</td>
          <td>$8,400</td>
        </tr>
        <tr>
          <th scope="row">Cory Gardner</th>
          <td>U.S. Senate</td>
          <td>Republican</td>
          <td>$5,950</td>
        </tr>
        <tr>
          <th scope="row">Dan Bishop</th>
          <td>U.S. House</td>
          <td>Republican</td>
          <td>$5,950</td>
        </tr>
        <tr>
          <th scope="row">John Cornyn</th>
          <td>U.S. Senate</td>
          <td>Republican</td>
          <td>$5,950</td>
        </tr>

      
  </div>
  <!-- /.container -->